.price-record-page {
  min-height: calc(100vh - 144px);
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  text-align: center;
  }

  .price-record-page h1 {
    margin-bottom: 1.5rem;
    color: #4c506d;
  }

  .price-record-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .price-record-grid .empty-bookmarks {
    margin: 2rem auto;
    color: #4c506d;
  }
  
  .price-record-card {
    gap: 0.5rem;
    background-color: #a37070;
    text-align: center;
    color:#d8d0d0;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    padding: 1rem;
    flex: 1 1 calc(25% - 1.5rem);
    max-width: 400px;
    min-width: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price-record-card button {
    align-self: flex-end;
    margin-top: auto;
    color: #a37070;
  }