header, footer, .logo, nav, select, option, .nav-btn {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.5rem;
  background: #4c506d;
  color: #e0c68b;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header a:hover {
  color: #e0c68b;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.map-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.sidebar {
  background-color: #4c506d;
  color: #fff;
  font-size: 1.2rem;
}

.petrol-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.petrol-filter label {
  font-size: 0.9rem;
  font-weight: 500;
}

.petrol-filter select {
  padding: 3px 8px;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  background: #ffffff;
  color: #355381;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a:hover {
  color: #e0c68b;
}

.nav-btn {
  padding: 6px 14px;
  border-radius: 50px;
  background: #a37070;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.2s ease;
}

.nav-btn:hover {
  background: #e9ecef;
}

@media (min-width: 319px) and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 0.4rem;
  }
  .logo {
    gap: 0;
  }
  .sidebar {
    display: none;
  }
  .petrol-filter {
    gap: 0.2rem;
    margin-left: 0.2rem;
  }
  .petrol-filter select {
    padding: 2px 5px;
  }
  nav {
    gap: 0.5rem;
  }
  .nav-btn {
    padding: 8px 6px;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  header {
    padding: 0.8rem;
  }
  .logo {
    gap: 0rem;
  }
  .petrol-filter {
    gap: 0.2rem;
    margin-left: 0;
  }
  .petrol-filter select {
    padding: 5px 8px;
  }
  nav {
    gap: 0.5rem;
  }
  .nav-btn {
    padding: 4px 3px;
    font-size: 14px
  }
}