  #map-container {
    height: calc(100vh - 80px);
    width: 100%;
  }
  
  .reset-button {
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4c506d;
    color: #fff
  }